@import 'reset.css';

#app {
    display: flex;
    flex-decoration: row;
}

/* sidebar */
ul {
    list-style-type: circle;
}
li {
    margin-top: 4%;
}

.listContainer {
    width: 300px;
    height: 1000px;
    background-color: #f7f6f3;
    overflow: auto;
    resize: horizontal;
}

.dataList {
    margin: 10% 0;
    color: #808080;
}
.addBtn,
.delBtn {
    background-color: #f7f6f3;
    color: black;
    border: none;
}

.addBtn:hover,
.delBtn:hover {
    cursor: pointer;
}
